{% extends 'content.html' %}
{% load humanize %}
{% block search %}
<form method="post" action="search/" class="form" role="form">
    {% csrf_token %}
    <p>{{ form }}
        <input type="submit" name="search" value="search"/>
    </p>


</form>
{% endblock %}
{% block content %}
{% if data %}
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>Year</td>
        <td>Import Quantity (tons)</td>
        <td>Import Value (USD)</td>
        <td>Import Value (ETB)</td>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td>
            <a href="{{ row.year }}/">
                {{ row.year }}
            </a>
        </td>
        <td align="right">{{ row.import_amount|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.import_usd|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.import_etb|floatformat:0|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}

{% block right_sidbar
