{% extends 'index.html' %}
{% load humanize %}
{% block content %}
<h1>Exports are here Sisay</h1>
{% if data %}
    <h1>Export statistics for {{ year }}</h1>
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>Destination</td>
        <td>Export Amount (Tons)</td>
        <td>Export FOB value (USD)</td>
        <td>Export FOB value (ETB)</td>
    </tr>
    </thead>
    <tbody>

    {% for row in data %}
    <tr>
        <td><a href="{{ row.destination|slugify }}/">{{ row.destination }}</a></td>
        <td align="right">{{ row.Volume_in_tons|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.fob_Value_in_usd|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.fob_Value_in_etb|floatformat:0|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}