{% extends 'index.html' %}
{% load humanize %}
{% block content %}
{% if data %}
    <h1>Export statistics for {{ item }} to {{ destination }}</h1>
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>year</td>
        <td>Export Amount (Tons)</td>
        <td>Export FOB value (USD)</td>
        <td>Export FOB value (ETB)</td>
    </tr>
    </thead>
    <tbody>

    {% for row in data %}
    <tr>
        <td><a href="
        {% url 'data:export_by_year_by_destination' row.year  row.destination|slugify %}"
                >{{ row.year }}</a></td>
        <td align="right">{{ row.Volume_in_tons|floatformat:2|intcomma }}</td>
        <td align="right">{{ row.fob_Value_in_usd|floatformat:2|intcomma }}</td>
        <td align="right">{{ row.fob_Value_in_etb|floatformat:2|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}