{% extends 'index.html' %}
{% load humanize %}
{% block content %}
<h1>Search for Exports</h1>
<form method="post" action="" class="form form-horizontal" role="form">
    {% csrf_token %}
    <ul class="form_ul well">
        {{ form.as_ul }}
        <input type="submit" name="search" value="search"/>
    </ul>
</form>
{% if warning %}
    <div class="alert alert-success">{{ warning }}</div>
{% endif %}
{% if data %}
    <h1>Export statistics for {{ year }}</h1>
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>Year</td>
        <td>Destination</td>
        <td>Item</td>
        <td>Export Amount (Tons)</td>
        <td>Export FOB value (USD)</td>
        <td>Export FOB value (ETB)</td>
    </tr>
    </thead>
    <tbody>

    {% for row in data %}
    <tr>
        <td><a href="{{ row.destination }}/">{{ row.year }}</a></td>
        <td><a href="{{ row.destination }}/">{{ row.destination }}</a></td>
        <td><a href="{{ row.destination }}/">{{ row.item }}</a></td>
        <td align="right">{{ row.Volume_in_tons|floatformat:2|intcomma }}</td>
        <td align="right">{{ row.fob_Value_in_usd|floatformat:2|intcomma }}</td>
        <td align="right">{{ row.fob_Value_in_etb|floatformat:2|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}