{% extends 'index.html' %}
{% load humanize %}
{% block content %}
<h1>Exports are here Sisay</h1>
<form method="post" action="search/" class="form" role="form">
    {% csrf_token %}
    <p>{{ form }}
        <input type="submit" name="search" value="search"/>
    </p>


</form>
{% if data %}
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>Year</td>
        <td>Export Quantity (tons)</td>
        <td>Export Value (USD)</td>
        <td>Export Value (ETB)</td>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td>
            <a href="{{ row.year }}/">
                {{ row.year }}
            </a>
        </td>
        <td align="right">{{ row.export_amount|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.export_usd|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.export_etb|floatformat:0|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}