.form_ul li {
    display: inline-block;
}

/*Body padding to work with top navigation*/
body {
    padding-top: 65px;
}
/* temporary - deltt*/
.form_ul .helptext {
    display: none
}

.search_form p{
    display: inline-block;
}

.search_form input,
.search_form select{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    min-height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
    height: auto;
}