{% extends 'base_for_data.html' %}
{% load humanize %}
{% block section_title %} <h3 class="text text-primary">Import statistics by year and country</h3> {% endblock %}

{% block main_content %}
{% if data %}
    <h3 class="alert alert-success"> {{ year }} imports from {{ origin }}</h3>
    <form method="get" action="" class="form" role="form">
    {% csrf_token %}
     <p>{{ form }}
        <input type="submit" name="search" value="search"/></p>
</form>
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>Item</td>
        <td>Import Amount (Tons)</td>
        <td>Import CIF value (USD)</td>
        <td>Import FOB value (ETB)</td>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td><a href="../../{{ row.item|slugify }}">{{ row.item }}</a></td>
        <td align="right">{{ row.Volume_in_tons|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.cif_Value_in_usd|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.cif_Value_in_etb|floatformat:0|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}