{% extends 'content.html' %}
{% load humanize %}
{% block content %}
<h1>Search for Imports</h1>
<form method="post" action="" class="form form-horizontal" role="form">
    {% csrf_token %}
    <ul class="form_ul well">
        {{ form.as_ul }}
        <input type="submit" name="search" value="search"/>
    </ul>
</form>
{% if warning %}
    <div class="alert alert-success">{{ warning }}</div>
{% endif %}
{% if data %}
    <h1>Import statistics for {{ year }}</h1>
    <table class="table table-responsive table-condensed table-bordered">
    <thead>
    <tr>
        <td>Year</td>
        <td>Origin</td>
        <td>Item</td>
        <td>Import Amount (Tons)</td>
        <td>Import CIF value (USD)</td>
        <td>Import CIF value (ETB)</td>
    </tr>
    </thead>
    <tbody>

    {% for row in data %}
    <tr>
        <td><a href="{% url 'data:import_by_year' row.year %}"
                >{{ row.year }}</a></td>
        <td><a href="
        {% url 'data:import_by_item_origin' row.item|slugify row.origin|slugify %}"
                >{{ row.origin }}</a></td>
        <td><a href="{% url 'data:import_by_item' row.item|slugify %}"
                >{{ row.item }}</a></td>
        <td align="right">
            {{ row.Volume_in_tons|floatformat:1|intcomma }}</td>
        <td align="right">{{ row.cif_Value_in_usd|floatformat:0|intcomma }}</td>
        <td align="right">{{ row.cif_Value_in_etb|floatformat:0|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}