<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>
        {% block title %}
            Ethiopia Statistics
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="
    {% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.theme.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery-2.0.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>

</head>

 <body>
{% block navigation %}
<div class="main_navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="
            {% url 'data:exports' %}">Exports</a></li>
                <li><a href="
            {% url 'data:imports' %}">Imports</a></li>
                <li><a href="
            {% url 'data:agriculture' %}">Agriculture</a></li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
<div class="jumbotron welcome">Welcome to Ethiopia statistics page</div>
<div class="container">
    {% if page_elements %}
        {% for row in page_elements %}
        <div class="col-md-3 col-sm-6 col-xs-8 pages">
        <img class="img-circle" src="{{ row.bg_image }}"/>
            {{ row.sub_pages_url }}
        <h2 class="page_title"><span class="glyphicon {{ row.glyphicon_class }}">  </span><a href="{{ row.page_url }}"> {{ row.title }}</a></h2>
        <p class="page_description">{{ row.description }}</p>
        </div>

        {% endfor %}

    {% endif %}
</div> <!-- end container -->

</body>

</html>